{% load static %}

<div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
    <div class="brand-logo">
        <a href="{% url 'dashboard' %}">
            <img src="{% static 'cabinet/' %}assets/images/logo_profi.png" class="logo-icon" alt="logo icon">
            <h5 class="logo-text">&#171;PROFI&#187;</h5>
        </a>
    </div>
    <div class="user-details">
        <div class="media align-items-center user-pointer collapsed" data-toggle="collapse"
             data-target="#user-dropdown">
            <div class="avatar"><img class="mr-3 side-user-img"
                                     src="{% static 'cabinet/' %}assets/images/avatars/avatar-1.png"
                                     alt="user avatar"></div>
            <div class="media-body">
                <h6 class="side-user-name">{{ user|truncatechars:14 }}</h6>
            </div>
        </div>
        <div id="user-dropdown" class="collapse">
            <ul class="user-setting-menu">
                <li><a href="{% url 'user:logout' %}"><i class="icon-power"></i>Выйти</a></li>
            </ul>
        </div>
    </div>
    <ul class="sidebar-menu do-nicescrol">
        <li class="sidebar-header">MAIN NAVIGATION</li>
        <li><a href="javaScript:void();" class="waves-effect"><i class="icon-doc text-danger"></i><span>Disk Space</span></a>
        </li>
        <li>
            <a href="index.html" class="waves-effect">
                <i class="icon-user"></i><span>Люди</span><i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="{% url 'user:users' %}"><i class="fa fa-long-arrow-right"></i> Список персон</a></li>
            </ul>
        </li>

        <li>
            <a href="javaScript:void();" class="waves-effect">
                <i class="icon-calendar"></i><span>Multilevel</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="javaScript:void();"><i class="fa fa-long-arrow-right"></i> Level One</a></li>
                <li>
                    <a href="javaScript:void();"><i class="fa fa-long-arrow-right"></i> Level One <i
                            class="fa fa-angle-left pull-right"></i></a>
                    <ul class="sidebar-submenu">
                        <li><a href="javaScript:void();"><i class="fa fa-long-arrow-right"></i> Level Two</a></li>
                        <li>
                            <a href="javaScript:void();"><i class="fa fa-long-arrow-right"></i> Level Two <i
                                    class="fa fa-angle-left pull-right"></i></a>
                            <ul class="sidebar-submenu">
                                <li><a href="javaScript:void();"><i class="fa fa-long-arrow-right"></i> Level Three</a>
                                </li>
                                <li><a href="javaScript:void();"><i class="fa fa-long-arrow-right"></i> Level Three</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="javaScript:void();" class="waves-effect"><i class="fa fa-long-arrow-right"></i> Level
                    One</a></li>
            </ul>
        </li>
    </ul>

</div>